{% extends 'base.html.twig' %}

{% block title %}Edition mot de passe administrateur{% endblock %}

{% block main %}
    <div class="container">
        <a href="{{ path('app_user') }}" class="btn btn-primary mt-4">Retour à l'accueil</a>
        <h1 class="mt-4">Formulaire de modification du mot de passe administrateur</h1>

        {{ form_start(adminPasswordForm) }}
            <div class="form-group">
                {{ form_widget(adminPasswordForm.plainPassword) }}
                <div class="form-error">
                    {{ form_errors(adminPasswordForm.plainPassword) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(adminPasswordForm.newPassword)}}
                {{ form_widget(adminPasswordForm.newPassword) }}
                <div class="form-error">
                    {{ form_errors(adminPasswordForm.newPassword) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(adminPasswordForm.submit) }}
            </div>

        {{ form_end(adminPasswordForm) }}
    </div>
{% endblock %}