{% extends 'base.html.twig' %}

{% block title %}Comptes utilisateurs{% endblock %}

{% block main %}
    
    <div class="container mt-4 key_bg2 p-5 pt-4 mb-4">
        <h1>Les comptes utilisateurs</h1>

        <a href="{{ path('app_registration') }}" class="btn key_bg5 mt-3 mb-3">Ajouter un compte</a>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% if not patients.items is same as ([]) %}
            <div class="count mt-4">
            <h4>
                Il y a 
                {{ patients.getTotalItemCount }}
                patients inscrits.
            </h4>
            </div>

            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Date de création</th>
                <th scope="col">Consulter</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr class="table key_bg1">
                        <th scope="row">{{ patient.id }}</th>
                        <td>{{ patient.firstname }}</td>
                        <td>{{ patient.lastname }}</td>
                        <td>{{ patient.createdAt|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('app_account', {'id': patient.id}) }}" class="btn key_bg4">Read</a>
                        </td>
                        <td>
                            <a href="{{ path('app_accountEdit', {'id': patient.id}) }}" class="btn key_bg4">edit</a>
                        </td>
                        <td>
                            <a href="{{ path('app_accountDelete', {'id': patient.id}) }}" class="btn key_bg5">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4 mb-4">
                {{ knp_pagination_render(patients) }}
            </div>
        {% else %}
            <h4>
                Il n'y a pas de patients.
            </h4>
        {% endif %}
    </div>
{% endblock %}

