{% extends 'base.html.twig' %}

{% block title %}Nouveau ingrédient{% endblock %}

{% block main %}
    <div class="container key_bg2 p-5 pt-4 mt-4">
        <a href="{{ path('app_ingredient') }}" class="btn key_bg5 mt-4">Retour à l'index</a>
        <h1 class="mt-4">Ajout d'un ingrédient</h1>

        {{ form_start(newIngredientForm) }}
            <div class="form-group">
                {{ form_label(newIngredientForm.name)}}
                {{ form_widget(newIngredientForm.name) }}
                <div class="form-error">
                    {{ form_errors(newIngredientForm.name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newIngredientForm.description)}}
                {{ form_widget(newIngredientForm.description) }}
                <div class="form-error">
                    {{ form_errors(newIngredientForm.description) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newIngredientForm.isPublished)}}
                {{ form_widget(newIngredientForm.isPublished) }}
                <div class="form-error">
                    {{ form_errors(newIngredientForm.isPublished) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-end">
                {{ form_row(newIngredientForm.submit) }}
            </div>

        {{ form_end(newIngredientForm) }}
    </div>
{% endblock %}