{% extends 'base.html.twig' %}

{% block title %}Edition recette{% endblock %}

{% block main %}
    <div class="container key_bg2 p-5 pt-0">
        <a href="{{ path('app_recettesAdmin') }}" class="btn key_bg5 mt-4">Retour à l'index</a>
        <h1 class="mt-4">Edition d'une recette</h1>

        {{ form_start(editRecetteForm) }}
            <div class="form-group">
                {{ form_label(editRecetteForm.name)}}
                {{ form_widget(editRecetteForm.name) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.description)}}
                {{ form_widget(editRecetteForm.description) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.description) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.regimes)}}
                {{ form_widget(editRecetteForm.regimes) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.regimes) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.allergenes)}}
                {{ form_widget(editRecetteForm.allergenes) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.allergenes) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.preparationTime)}}
                {{ form_widget(editRecetteForm.preparationTime) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.preparationTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.restTime)}}
                {{ form_widget(editRecetteForm.restTime) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.restTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.cookingTime)}}
                {{ form_widget(editRecetteForm.cookingTime) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.cookingTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.ingredients)}}
                {{ form_widget(editRecetteForm.ingredients) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.ingredients) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.step)}}
                {{ form_widget(editRecetteForm.step) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.step) }}
                </div>
            </div>
            <div class="form-group mt-4">
                {{ form_widget(editRecetteForm.isPublished) }}
                {{ form_label(editRecetteForm.isPublished)}}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.isPublished) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-end">
                {{ form_row(editRecetteForm.submit) }}
            </div>

        {{ form_end(editRecetteForm) }}
    </div>
{% endblock %}