{% extends 'base.html.twig' %}

{% block title %}Edition recette{% endblock %}

{% block main %}
    <div class="container key_bg2 p-5 pt-0 mt-4">
        <div class="d-flex justify-content-end me-2">
            <a href="{{ path('app_recettesAdmin') }}" class="btn key_bg5 mt-4">Retour à l'index</a>
        </div>
        <h1 class="mt-4">Edition d'une recette</h1>

        {{ form_start(editRecetteForm, {'attr': {'method': 'post', 'enctype': 'multipart/form-data'}}) }}
            <div class="form-group">
                {{ form_label(editRecetteForm.name)}}
                {{ form_widget(editRecetteForm.name) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.description)}}
                {{ form_widget(editRecetteForm.description) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.description) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.regimes)}}
                <div>
                    {% for regime in editRecetteForm.regimes %}
                        <div class="d-inline-block">
                             <span class="badge bg-danger">
                                {{ form_label(regime) }}
                                {{ form_widget(regime, { 'attr': { 'class': 'me-2'}}) }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-error">
                    {{ form_errors(editRecetteForm.regimes) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.allergenes)}}
                <div>
                    {% for allergene in editRecetteForm.allergenes %}
                        <div class="d-inline-block">
                            <span class="badge bg-danger">
                                {{ form_label(allergene) }}
                                {{ form_widget(allergene, { 'attr': { 'class': 'me-2'}}) }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-error">
                    {{ form_errors(editRecetteForm.allergenes) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.preparationTime)}}
                {{ form_widget(editRecetteForm.preparationTime) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.preparationTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.restTime)}}
                {{ form_widget(editRecetteForm.restTime) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.restTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.cookingTime)}}
                {{ form_widget(editRecetteForm.cookingTime) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.cookingTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.ingredients)}}
                <div>
                    {% for ingredient in editRecetteForm.ingredients %}
                        <div class="d-inline-block">
                            <span class="badge bg-secondary">
                                {{ form_label(ingredient) }}
                                {{ form_widget(ingredient, { 'attr': { 'class': 'me-2'}}) }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-error">
                    {{ form_errors(editRecetteForm.ingredients) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(editRecetteForm.step)}}
                {{ form_widget(editRecetteForm.step) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.step) }}
                </div>
            </div>
            {# <div class="form-group form-image">
                {{ form_label(editRecetteForm.imageFile)}}
                {{ form_widget(editRecetteForm.imageFile) }}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.imageFile) }}
                </div>
            </div> #}
            <div class="form-group mt-4">
                {{ form_widget(editRecetteForm.isPublished) }}
                {{ form_label(editRecetteForm.isPublished)}}
                <div class="form-error">
                    {{ form_errors(editRecetteForm.isPublished) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-end">
                {{ form_row(editRecetteForm.submit) }}
            </div>

        {{ form_end(editRecetteForm) }}
    </div>
{% endblock %}