{% extends 'base.html.twig' %}

{% block title %}Nouvelle recette{% endblock %}

{% block main %}
    <div class="container">
        <a href="{{ path('app_recettesAdmin') }}" class="btn btn-primary mt-4">Retour à l'index</a>
        <h1 class="mt-4">Ajout d'une recette</h1>

        {{ form_start(newRecetteForm) }}
            <div class="form-group">
                {{ form_label(newRecetteForm.name)}}
                {{ form_widget(newRecetteForm.name) }}
                <div class="form-error">
                    {{ form_errors(newRecetteForm.name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newRecetteForm.description)}}
                {{ form_widget(newRecetteForm.description) }}
                <div class="form-error">
                    {{ form_errors(newRecetteForm.description) }}
                </div>
            </div>
            <div class="form-group d-flex flex-column">
                {{ form_label(newRecetteForm.regimes)}}
                {# {{ form_widget(newRecetteForm.regimes) }} #}
                <div>
                    {% for regime in newRecetteForm.regimes %}
                        <div class="d-inline-block">
                            {{ form_label(regime) }}
                            {{ form_widget(regime, { 'attr': { 'class': 'me-2'}}) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-error">
                    {{ form_errors(newRecetteForm.regimes) }}
                </div>
            </div>
            <div class="form-group d-flex flex-column">
                {{ form_label(newRecetteForm.allergenes)}}
                <div>
                    {% for allergene in newRecetteForm.allergenes %}
                        <div class="d-inline-block">
                            {{ form_label(allergene) }}
                            {{ form_widget(allergene, { 'attr': { 'class': 'me-2'}}) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-error">
                    {{ form_errors(newRecetteForm.allergenes) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newRecetteForm.preparationTime)}}
                {{ form_widget(newRecetteForm.preparationTime) }}
                <div class="form-error">
                    {{ form_errors(newRecetteForm.preparationTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newRecetteForm.restTime)}}
                {{ form_widget(newRecetteForm.restTime) }}
                <div class="form-error">
                    {{ form_errors(newRecetteForm.restTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newRecetteForm.cookingTime)}}
                {{ form_widget(newRecetteForm.cookingTime) }}
                <div class="form-error">
                    {{ form_errors(newRecetteForm.cookingTime) }}
                </div>
            </div>
            <div class="form-group d-flex flex-column">
                {{ form_label(newRecetteForm.ingredients)}}
                <div>
                    {% for ingredient in newRecetteForm.ingredients %}
                        <div class="d-inline-block">
                            {{ form_label(ingredient) }}
                            {{ form_widget(ingredient, { 'attr': { 'class': 'me-2'}}) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-error">
                    {{ form_errors(newRecetteForm.ingredients) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newRecetteForm.step)}}
                {{ form_widget(newRecetteForm.step) }}
                <div class="form-error">
                    {{ form_errors(newRecetteForm.step) }}
                </div>
            </div>
            <div class="form-group mt-4">
                {{ form_widget(newRecetteForm.isPublished) }}
                {{ form_label(newRecetteForm.isPublished)}}
                <div class="form-error">
                    {{ form_errors(newRecetteForm.isPublished) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(newRecetteForm.submit) }}
            </div>

        {{ form_end(newRecetteForm) }}
    </div>
{% endblock %}