{% extends 'base.html.twig' %}

{% block title %}Recette {{ publicRecipe.name }} {% endblock %}

{% block main %}
    <div class="container key_bg2 p-5 mb-4 mt-4 pt-4">
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_accueil') }}" class="btn key_bg5 mt-4 ms-2">Retour à l'accueil</a>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
            <h1 class="mt-4 key_bg2">{{ publicRecipe.name|capitalize }}</h1>
        <div class="d-flex justify-content-between flex-wrap">
            {# <div class="mt-4 show-image">
                <img src="{{ vich_uploader_asset(publicRecipe, 'imageFile') }}" alt="Image de la recette">
            </div> #}
            <div class="d-flex flex-column me-2 mt-4">
                <span>Créée le {{ publicRecipe.publishedAt|date('d/m/Y') }}</span>
                <span class="me-2">Moyenne : {{ publicRecipe.average|number_format }}/5</span>
            </div>
        </div>
        <ul class="container-fluid">
            <li class="mt-4">
                <ul class="container-fluid d-flex row-cols-4">
                    <li>
                        {% if publicRecipe.preparationTime %}
                            <span class="badge bg-secondary">Temps de préparation : 
                            {{ publicRecipe.preparationTime }} min
                            </span>
                        {% else %}
                            <span class="badge bg-secondary">Temps de préparation : Non renseigné</span>
                        {% endif %}
                    </li>
                    <li>
                        {% if publicRecipe.restTime %}
                            <span class="badge bg-secondary">
                                Temps de repos : 
                                {{ publicRecipe.restTime }} min
                            </span>
                        {% else %}
                            <span class="badge bg-secondary">Temps de repos : Non renseigné</span>
                        {% endif %}
                    </li>
                    <li>
                        {% if publicRecipe.cookingTime %}
                            <span class="badge bg-secondary">Temps de cuisson : 
                            {{ publicRecipe.cookingTime }} min
                            </span>
                        {% else %}
                            <span class="badge bg-secondary">Temps de cuisson : Non renseigné</span>
                        {% endif %}
                    </li>
                </ul>
            </li>
            
            <li class="mt-4 border border-3 p-4 key_bg3">
                <h4>Description</h4>
                <p>{{ publicRecipe.description }}</p>
            </li>
            <li class="mt-4">
                <h4>Allergènes</h4>
                {% for allergene in publicRecipe.allergenes %}
                    <span class="badge bg-danger">{{ allergene }}</span>
                {% endfor %}
            </li>
            <li class="mt-4">
                <h4>Régimes</h4>
                {% for regime in publicRecipe.regimes %}
                    <span class="badge bg-info">{{ regime }}</span>
                {% endfor %}
            </li>
            <li class="mt-4 key_bg3 p-4">
                <h4>Liste des ingrédients</h4>
                {% for ingredient in publicRecipe.ingredients %}
                    <span class="badge bg-secondary">{{ ingredient }}</span>
                {% endfor %}
            </li>
            <li class="mt-4 border border-4 p-4 key_bg3">
                <h4>Les étapes</h4>
                <p>{{ publicRecipe.step }}</p>
            </li>
        </ul>    
    </div>
{% endblock %}