{% extends 'base.html.twig' %}

{% block title %}Liste recettes{% endblock %}

{% block main %}
    <div class="container key_bg2 mt-4">
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_accueil') }}" class="btn key_bg5 mt-4 me-2">Retour à l'accueil</a>
        </div>
        <h1 class="text-center mt-4">Liste des recettes</h1>
        <ul class="container-fluid d-flex flex-column">
            {% if app.user %}
                {% for recipe in recipes %}
                    <li class="mt-3 border border-4 border-light p-4 key_bg1">
                        <a href="{{ path('app_recette', {'id' : recipe.id }) }}" class="w-100 h-100"></a>
                        <div class="d-flex justify-content-between">
                            <h4 class="rounded key_bg5 key_ftw p-1 w-25 text-center">{{ recipe.name|capitalize }}</h4>
                            <div class="d-flex flex-column">
                                <span>Créée le {{ recipe.publishedAt|date('d/m/Y') }}</span>
                                <span class="me-2">Moyenne : {{ recipe.average|number_format }}/5</span>
                            </div>
                        </div>
                        <h5 class="mt-3">Description</h5>
                        <p>{{ recipe.description }}</p>
                        <div class="container-fluid d-flex justify-content-end">
                            <a href="{{ path('app_recette', {'id' : recipe.id }) }}" class="btn key_bg5">Consulter</a>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>    
    </div>
    <div class="navigation d-flex justify-content-center mt-4 mb-4">
        {{ knp_pagination_render(recipes) }}
    </div>
{% endblock %}
