{% extends 'base.html.twig' %}

{% block title %}Nouveau Allergène{% endblock %}

{% block main %}
    <div class="container key_bg2 p-5 pt-4 mt-4">
        <a href="{{ path('app_allergene') }}" class="btn key_bg5 mt-4">Retour à l'index</a>
        <h1 class="mt-4">Ajout d'un Allergène</h1>

        {{ form_start(newAllergeneForm, {'attr': {'method': 'post'}}) }}
            <div class="form-group">
                {{ form_label(newAllergeneForm.name)}}
                {{ form_widget(newAllergeneForm.name) }}
                <div class="form-error">
                    {{ form_errors(newAllergeneForm.name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newAllergeneForm.description)}}
                {{ form_widget(newAllergeneForm.description) }}
                <div class="form-error">
                    {{ form_errors(newAllergeneForm.description) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(newAllergeneForm.isPublished)}}
                {{ form_widget(newAllergeneForm.isPublished) }}
                <div class="form-error">
                    {{ form_errors(newAllergeneForm.isPublished) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-end">
                {{ form_row(newAllergeneForm.submit) }}
            </div>

        {{ form_end(newAllergeneForm) }}
    </div>
{% endblock %}