{% extends 'base.html.twig' %}

{% block title %}Edition profil{% endblock %}

{% block main %}
    <div class="container key_bg2 mt-4 p-5 pt-4">
        <a href="{{ path('app_profil', { id: app.user.id }) }}" class="btn key_bg5 mt-4">Retour au profil</a>
        <h1 class="mt-4">Formulaire de modification du profil utilisateur</h1>

        {{ form_start(profilForm, {'attr': {'method': 'post'}}) }}
            <div class="form-group">
                {{ form_label(profilForm.lastname)}}
                {{ form_widget(profilForm.lastname) }}
                <div class="form-error">
                    {{ form_errors(profilForm.lastname) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(profilForm.firstname)}}
                {{ form_widget(profilForm.firstname) }}
                <div class="form-error">
                    {{ form_errors(profilForm.firstname) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(profilForm.plainPassword)}}
                {{ form_widget(profilForm.plainPassword) }}
                <div class="form-error">
                    {{ form_errors(profilForm.plainPassword) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-end">
                {{ form_row(profilForm.submit) }}
            </div>

        {{ form_end(profilForm) }}
    </div>
{% endblock %}
