{% extends 'base.html.twig' %}

{% block title %}Edition identifiants{% endblock %}

{% block main %}
    <div class="container">
        <a href="{{ path('app_user') }}" class="btn btn-primary mt-4">Retour à l'accueil</a>
        <h1 class="mt-4">Formulaire de modification des identifiants</h1>

        {{ form_start(passwordForm) }}
            <div class="form-group">
                {{ form_widget(passwordForm.plainPassword) }}
                <div class="form-error">
                    {{ form_errors(passwordForm.plainPassword) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(passwordForm.newPassword)}}
                {{ form_widget(passwordForm.newPassword) }}
                <div class="form-error">
                    {{ form_errors(passwordForm.newPassword) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(passwordForm.submit) }}
            </div>

        {{ form_end(passwordForm) }}
    </div>
{% endblock %}