{% extends 'base.html.twig' %}

{% block title %}Edition mot de passe{% endblock %}

{% block main %}
    <div class="container key_bg2 mt-4 p-5 pt-4">
        <a href="{{ path('app_profil', { id: app.user.id }) }}" class="btn key_bg5 mt-4">Retour au profil</a>
        <h1 class="mt-4">Formulaire de modification de votre mot de passe</h1>

        {{ form_start(passwordForm, {'attr': {'method': 'post'}}) }}
            <div class="form-group">
                {{ form_widget(passwordForm.plainPassword) }}
                <div class="form-error">
                    {{ form_errors(passwordForm.plainPassword) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(passwordForm.newPassword)}}
                {{ form_widget(passwordForm.newPassword) }}
                <div class="form-error">
                    {{ form_errors(passwordForm.newPassword) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-end">
                {{ form_row(passwordForm.submit) }}
            </div>

        {{ form_end(passwordForm) }}
    </div>
{% endblock %}