{% extends 'base.html.twig' %}

{% block title %}Régimes et allergènes{% endblock %}

{% block main %}
    <div class="container mt-5 key_bg2 p-5">
        <h1>Nos Régimes</h1>
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_regime.new') }}" class="btn key_bg5 mt-3">Ajouter un Régime</a>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% if not regimes.items is same as ([]) %}
            <div class="count mt-4">
            <h4>
                Il y a 
                {{ regimes.getTotalItemCount }}
                régimes au total.
            </h4>
            </div>

            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Date de publication</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for regime in regimes %}
                    <tr class="table-info">
                        <th scope="row">{{ regime.id }}</th>
                        <td>{{ regime.name }}</td>
                        <td>{{ regime.description }}</td>
                        <td>{{ regime.publishedAt|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('app_regime.edit', {'id': regime.id}) }}" class="btn key_bg4">edit</a>
                        </td>
                        <td>
                            <a href="{{ path('app_regime.delete', {'id': regime.id}) }}" class="btn key_bg5">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-2">
                {{ knp_pagination_render(regimes) }}
            </div>
        {% else %}
            <h4>
                Il n'y a pas de régimes
            </h4>
        {% endif %}
    </div>
{% endblock %}
